- persist data ffs DONE
- add twitter sign on DONE
- add twitter sign out DONE

- disable lab
- disable payments
- give out vybes on registration
- pay for spaces down
- ask for feedback directly on the space
- create a form for things that could be better
- incentivize feedback with vybes for when live or gift cards


- remove magic strings
- put endpoints behind config variables
- once results are published, session should close
-
