- persist data ffs DONE
- add twitter sign on DONE
- add twitter sign out DONE

- disable lab DONE
- disable payments DONE
- once results are published, session should close DONE
- give out vybes on registration DONE(Can do via form for admins)

- pay for spaces down
- ask for feedback directly on the space
- create a form for things that could be better
- incentivize feedback with vybes for when live or gift cards
- remove magic strings
- put endpoints behind config variables
-
